@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  font-size: 1rem; }

img {
  max-width: 100%;
  object-fit: cover; }

a {
  text-decoration: none; }

.d-flex {
  display: flex; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #cccccc;
  --color-grey-light: #f5f7fa;
  --color-grey-dark: #333333;
  --color-grey-black: #212121;
  --color-warning: #fcae61;
  --color-warning-dark: #ffcc00;
  --color-warning-light: #fff6d3;
  --color-primary: #2500f9;
  --color-primary-light: #eaf9ff;
  --color-primary-dark: #09142e;
  --color-primary-black: #273043;
  --color-pink-red: #ff6e78;
  --color-grey-light: #e2eaed;
  --color-success-light: #e4ffee;
  --color-alert: #f55767;
  --color-alert-light: #ffecef;
  --color-purple: #d4cdfd;
  --color-purple-light: #f4f4ff;
  --color-orange-light: #fdeee4;
  --color-success: #40975f; }

.u-container {
  max-width: 75rem;
  margin: 0 auto; }

.u-container-md {
  max-width: 87.5rem;
  margin: 0 auto; }

.u-container-lg {
  max-width: 100rem;
  margin: 0 auto; }

.u-container--bkg {
  background: url("../images/ultimate-img.png");
  background-size: 500px 162%;
  background-position: 100% 0%;
  background-repeat: no-repeat; }
  @media (min-width: 600px) {
    .u-container--bkg {
      background-size: 100% 163%;
      background-position: 100% 10%; } }
  @media (min-width: 800px) {
    .u-container--bkg {
      background-size: 100% 220%;
      background-position: 100% 30%; } }
  @media (min-width: 1024px) {
    .u-container--bkg {
      background-size: 100% 280%;
      background-position: 100% 40%; } }
  @media (min-width: 1280px) {
    .u-container--bkg {
      background-size: cover;
      background-position: 100% 54%; } }

.u-color-warning {
  color: var(--color-warning); }

.u-color-primary-black {
  color: var(--color-primary-black); }

.u-px {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem; }

.u-ml {
  margin-inline-start: 0.4rem; }

.u-my {
  margin-block-start: 7rem;
  margin-block-end: 7rem; }

.u-img-bkg--round {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

.u-img-bkg--center {
  margin: 0 auto 1rem; }

@media (min-width: 1024px) {
  .u-img-bkg--left-md {
    margin: 0; } }

@media (min-width: 1600px) {
  .u-img-bkg--round-md {
    margin: 0; } }

.u-color--white {
  color: var(--color-white); }

.u-bkg--white {
  background-color: var(--color-white); }

.u-color--black {
  color: var(--color-black); }

.u-color--alert {
  color: var(--color-alert);
  font-weight: 600; }

.u-bkg--alert {
  background-color: var(--color-alert-light); }

.u-bkg--warning {
  background-color: var(--color-warning); }

.u-bkg--warning-light {
  background-color: var(--color-warning-light); }

.u-color--primary {
  color: var(--color-primary);
  font-weight: 600; }

.u-bkg--primary {
  background-color: var(--color-primary-light); }

.u-bkg--primary-light {
  background-color: var(--color-primary-light); }

.u-bkg--primary-dark {
  background-color: var(--color-primary-dark); }

.u-color--primary-black {
  color: var(--color-primary-black); }

.u-color--success {
  color: var(--color-success);
  font-weight: 600; }

.u-bkg--success {
  background-color: var(--color-grey-light); }

.u-bkg--grey-light {
  background-color: var(--color-grey-light); }

.u-color--grey {
  color: #999ca5; }

.u-color--grey-dark {
  color: var(--color-grey-dark); }

.u-bkg--purple-light {
  background-color: var(--color-purple-light); }

.u-bkg--orange-light {
  background-color: var(--color-orange-light); }

.u-price--size {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-black); }

.u-cards--border {
  border: 2px solid #ebebeb; }

.u-opacity {
  opacity: 0.9; }

.c-btn {
  padding: 1rem 2.8125rem;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem;
  background-color: transparent;
  color: var(--color-white);
  transition: 0.2s; }
  .c-btn:hover {
    transform: scale(0.9); }

.c-btn--blue {
  background-color: var(--color-primary); }

.c-btn--size {
  margin: 2rem auto; }
  @media (min-width: 991px) {
    .c-btn--size {
      margin: 0; } }

.c-grid {
  display: -ms-grid;
  display: grid; }

.c-grid--two {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }
  @media (min-width: 1024px) {
    .c-grid--two {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }

.c-grid--three {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }
  @media (min-width: 1024px) {
    .c-grid--three {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1280px) {
    .c-grid--three {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; } }

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif; }

h1 {
  font-size: 2.5rem;
  color: var(--color-black); }
  @media (min-width: 991px) {
    h1 {
      font-size: 3.5rem; } }

h2 {
  font-size: 2rem; }
  @media (min-width: 991px) {
    h2 {
      font-size: 2.6rem; } }

h3 {
  font-size: 1.3rem;
  font-weight: 400; }
  @media (min-width: 991px) {
    h3 {
      font-size: 1.5rem; } }

h4 {
  font-size: 1.2rem;
  font-weight: 300; }
  @media (min-width: 991px) {
    h4 {
      font-size: 1.3rem; } }

p {
  color: #616368;
  font-weight: 300; }

/*** Hero section ***/
.c-hero-section {
  padding-block-end: 12rem;
  position: relative; }

@media (min-width: 1280px) {
  .c-hero {
    padding-block-start: 5rem;
    max-height: 90vh; } }

.c-hero-bkg__img {
  position: absolute;
  bottom: 0;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 37vh; }

.c-hero-pitch {
  margin: 0 1.5rem; }
  @media (min-width: 1025px) {
    .c-hero-pitch {
      margin-inline-start: 2.5rem; } }

.c-hero-pitch__icon {
  align-items: center;
  margin-block-start: 2rem;
  border-radius: 2.2rem 1rem 1rem 2.2rem;
  max-width: 100%; }
  @media (min-width: 600px) {
    .c-hero-pitch__icon {
      max-width: 80%; } }
  @media (min-width: 768px) {
    .c-hero-pitch__icon {
      max-width: 60%; } }
  @media (min-width: 1024px) {
    .c-hero-pitch__icon {
      max-width: 100%; } }
  @media (min-width: 1025px) {
    .c-hero-pitch__icon {
      margin-block-start: 12rem; } }
  .c-hero-pitch__icon .c-hero-icon {
    padding: 0.4rem 0.4rem 0 0.4rem;
    margin-inline-end: 0.5rem;
    border-radius: 50%; }

.c-hero-btn-container {
  margin-block-start: 2rem; }

.c-hero-img {
  max-width: 80%;
  margin: 0 auto;
  z-index: 5; }

/***  Companies section ***/
.c-companies-section h4 {
  margin-block-end: 2rem; }

.c-companies-section img {
  margin: 1.5rem; }

/*** Awesome App section ***/
.c-awesome-section {
  margin-block-start: 10rem; }

.c-awesome-img__container {
  position: relative; }
  @media (min-width: 500px) {
    .c-awesome-img__container {
      margin-block-start: 7rem; } }

.c-awesome-ima-block {
  position: relative;
  max-width: 570px;
  max-height: 390px;
  margin: 4rem auto 6rem;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .c-awesome-ima-block {
      max-width: 670px;
      max-height: 490px;
      margin-block-start: 12rem; } }

.c-awesome-img--phone {
  position: absolute;
  bottom: -3%;
  left: 0;
  z-index: 100; }
  @media (min-width: 420px) {
    .c-awesome-img--phone {
      bottom: -25%; } }
  @media (min-width: 520px) {
    .c-awesome-img--phone {
      bottom: -30%; } }
  @media (min-width: 1024px) {
    .c-awesome-img--phone {
      bottom: -20%; } }
  @media (min-width: 1280px) {
    .c-awesome-img--phone {
      left: 7%; } }

@media (min-width: 1024px) {
  .c-awesome-content__container {
    text-align: left; } }

.c-awesome-content__container h2 {
  margin-block-end: 1.5rem; }
  @media (min-width: 1024px) {
    .c-awesome-content__container h2 {
      max-width: 27rem; } }

.c-awesome-content__container p {
  margin-block-end: 5rem; }
  @media (min-width: 1024px) {
    .c-awesome-content__container p {
      max-width: 33rem; } }

.c-awesome__content {
  max-width: 18.5rem;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .c-awesome__content {
      display: flex;
      max-width: 30rem;
      margin: 0; } }

@media (min-width: 1024px) {
  .c-awesome__img {
    margin-block-start: 1.5rem; } }

.c-awesome__desc p {
  margin-block-start: 1rem; }

@media (min-width: 1024px) {
  .c-awesome__desc {
    margin-inline-start: 1.5rem;
    max-width: 16.875rem; } }

/*** Smart jackpots section ***/
.c-smart-title__container h2 {
  margin-block-end: 2rem; }
  @media (min-width: 1024px) {
    .c-smart-title__container h2 {
      margin-inline-end: 2rem; } }

.c-smart-title__container p {
  padding: 3rem 0 1rem 2rem;
  margin-block-end: 2rem;
  border-left: 1px solid #b9b9b8;
  height: 8rem; }

.c-smart__content {
  text-align: center;
  margin-block-end: 2rem;
  padding-block-start: 2rem;
  width: 18.5rem;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .c-smart__content {
      text-align: left; } }
  @media (min-width: 1024px) {
    .c-smart__content .c-smart__img {
      margin: 0 1rem 0 0; } }
  .c-smart__content h3 {
    margin: 1rem 0; }

/*** Designed section ***/
.c-designed__img {
  margin: 3rem auto; }

@media (min-width: 1024px) {
  .c-designed__content {
    margin: 2rem 0 0 2rem;
    max-width: 430px; } }

.c-designed__content h2 {
  margin-block-end: 2.1875rem; }

.c-designed__content button {
  margin-block-start: 2rem; }

/*** Our App section ***/
.c-our-app p {
  margin: 2.5rem auto;
  max-width: 50rem; }

.c-our-app__content {
  margin-block-start: 3rem; }
  .c-our-app__content p {
    max-width: 20rem; }

/*** Ultimate section ***/
.c-ultimate-section {
  justify-content: center;
  align-items: center; }

.c-ultimate {
  flex-direction: column; }
  @media (min-width: 1280px) {
    .c-ultimate {
      flex-direction: row; } }

@media (min-width: 1280px) {
  .c-ultimate__container {
    width: 60%; } }

.c-ultimate__container h2,
.c-ultimate__container p {
  margin-block-end: 2rem;
  text-align: center; }
  @media (min-width: 1600px) {
    .c-ultimate__container h2,
    .c-ultimate__container p {
      max-width: 25rem;
      text-align: left;
      margin-inline-start: 1rem; } }

.c-ultimate__container button {
  justify-content: center; }
  @media (min-width: 991px) {
    .c-ultimate__container button {
      margin: 3rem auto; } }
  @media (min-width: 1600px) {
    .c-ultimate__container button {
      margin: 3rem 2rem; } }

.c-ultimate__content {
  margin-block-start: 3rem;
  text-align: center; }
  @media (min-width: 1600px) {
    .c-ultimate__content {
      text-align: left; } }
  .c-ultimate__content h3 {
    margin-block-start: 2rem; }
  .c-ultimate__content p {
    max-width: 17.5rem;
    margin: 1rem auto 2rem; }
    @media (min-width: 1440px) {
      .c-ultimate__content p {
        text-align: center; } }
    @media (min-width: 1600px) {
      .c-ultimate__content p {
        text-align: left;
        margin: 1rem 0 2rem; } }

.c-ultimate-img__container {
  width: 95%;
  position: relative;
  margin-block-start: 3rem; }
  @media (min-width: 1280px) {
    .c-ultimate-img__container {
      width: 35%; } }
  .c-ultimate-img__container img {
    width: 80%; }
    @media (min-width: 1280px) {
      .c-ultimate-img__container img {
        width: 100%; } }
  .c-ultimate-img__container .c-ultimate-img--position {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(15deg); }
    @media (min-width: 800px) {
      .c-ultimate-img__container .c-ultimate-img--position {
        top: 1rem;
        right: -5rem; } }
    @media (min-width: 1280px) {
      .c-ultimate-img__container .c-ultimate-img--position {
        top: 6rem; } }
    @media (min-width: 1440px) {
      .c-ultimate-img__container .c-ultimate-img--position {
        right: -9.5rem; } }
    @media (min-width: 1600px) {
      .c-ultimate-img__container .c-ultimate-img--position {
        right: -11rem; } }

/*** Client section ***/
.c-client__container {
  position: relative;
  max-width: 90vw;
  margin: 0 auto; }
  @media (min-width: 1440px) {
    .c-client__container {
      margin-block-start: 8rem; } }
  .c-client__container .c-client__img-bkg {
    height: 37.5rem; }

.c-client-img__container .c-client-img--1 {
  position: absolute;
  top: 30%; }

.c-client-img__container .c-client-img--2 {
  position: absolute;
  top: 5%;
  left: 20%; }

.c-client-img__container .c-client-img--3 {
  position: absolute;
  top: 50%;
  left: 25%; }

.c-client-img__container .c-client-img--5 {
  position: absolute;
  top: 30%;
  left: 70%; }

.c-client-img__container .c-client-img--6 {
  position: absolute;
  top: 10%;
  left: 0; }

.c-client-img__container .c-client-img--7 {
  position: absolute;
  top: 5%;
  left: 70%; }

.c-client-img__container .c-client-img--8 {
  position: absolute;
  top: 20%;
  left: 33%; }

@media (min-width: 991px) {
  .c-client-img__container .c-client-img--1 {
    top: 30%;
    left: 10%; }
  .c-client-img__container .c-client-img--2 {
    top: 0;
    left: 32%; }
  .c-client-img__container .c-client-img--3 {
    bottom: 14%;
    left: 28%; }
  .c-client-img__container .c-client-img--5 {
    top: 40%;
    left: 60%; }
  .c-client-img__container .c-client-img--6 {
    top: 10%;
    left: 5%; }
  .c-client-img__container .c-client-img--7 {
    top: 5%;
    left: 73%; }
  .c-client-img__container .c-client-img--8 {
    top: 25%;
    left: 38%; } }

.c-client__content {
  max-width: 75vw; }
  @media (min-width: 1440px) {
    .c-client__content {
      max-width: 31.25rem; } }
  .c-client__content h2 {
    margin-block-end: 1.5rem; }
  .c-client__content p {
    margin-block-end: 2.5rem; }

/*** Download section ***/
.c-download-content__container {
  margin-block-end: 3rem; }
  @media (min-width: 1150px) {
    .c-download-content__container {
      margin-inline-start: 6rem;
      margin-block-start: 4rem; } }
  @media (min-width: 1600px) {
    .c-download-content__container {
      margin-inline-start: 13rem; } }
  .c-download-content__container h2,
  .c-download-content__container p {
    margin-block-end: 2rem; }

@media (min-width: 500px) {
  .c-download-content__img img:first-child {
    margin-inline-end: 2rem; } }

@media (min-width: 1150px) {
  .c-download-img__container img {
    margin-block-start: 5rem; } }

/*** Header ***/
.c-header-section {
  margin-block-start: 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  overflow: hidden;
  padding: 1rem 1.5rem;
  box-shadow: 0 5px var(--color-grey-light); }

.c-nav__header {
  justify-content: space-between; }
  @media (min-width: 991px) {
    .c-nav__header {
      max-width: 75rem;
      margin: 0 auto; } }

.c-nav__logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-block-start: 0.7rem; }

.c-nav__toggle {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent; }
  @media (min-width: 991px) {
    .c-nav__toggle {
      display: none; } }

.c-nav-links__container {
  display: none; }
  @media (min-width: 991px) {
    .c-nav-links__container {
      display: flex; } }
  .c-nav-links__container a {
    margin: 1rem;
    font-size: 1.5rem; }
    .c-nav-links__container a:hover {
      color: var(--color-warning); }
    @media (min-width: 991px) {
      .c-nav-links__container a {
        font-size: 0.875rem;
        margin: 1rem 2rem; } }

.active-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10; }
  .active-menu a {
    padding: 1rem 0;
    font-size: 2rem; }
    .active-menu a:first-child {
      margin-block-start: 30vh; }

/*** Footer ***/
.c-footer-section {
  padding: 6.25rem 0; }

.c-footer__logo {
  font-weight: bold;
  font-size: 1.5rem; }

.c-footer__icons {
  margin: 3.75rem 0 5rem 0; }
  .c-footer__icons svg:hover {
    color: var(--color-white); }

.c-footer__links {
  margin-block-start: 3.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 991px) {
    .c-footer__links {
      flex-direction: row; } }
  .c-footer__links a {
    margin: 0.5rem 0; }
    @media (min-width: 991px) {
      .c-footer__links a {
        margin: 0 1rem; } }
    .c-footer__links a:hover {
      color: var(--color-warning); }

.c-icon {
  display: inline-block;
  fill: currentColor;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.5rem; }

.c-icon--active {
  color: var(--color-white); }

.c-icon--colors {
  --color-1:#FF6E78;
  --color-2: #09142e; }

.c-icon--hero-colors {
  --color-1:#FF6E78;
  --color-2: #fff; }

.c-icon--hero-colors-purple {
  --color-1:#d4cdfd;
  --color-2: #fff; }

.c-icon--hero-purple {
  color: #d4cdfd; }

.c-icon--hero-purple {
  --color-1:#d4cdfd; }

.c-icon--primary-dark {
  --color-1:#09142e;
  --color-2: #273043; }

.c-icon--sm {
  width: 1.2rem;
  height: 1.2rem; }

.c-icon--md {
  width: 3rem;
  height: 3rem; }

.c-icon--top {
  position: absolute;
  top: 10%;
  left: 53%;
  z-index: 3; }

.c-icon--right {
  position: absolute;
  top: 50%;
  right: 3%;
  z-index: 4; }

.c-icon--circle-top-left {
  position: absolute;
  top: 5%;
  right: 35%;
  z-index: 2; }

.c-icon--circle-top {
  position: absolute;
  top: 5%;
  left: 63%;
  z-index: 5; }

.c-icon--circle-right {
  position: absolute;
  bottom: 20%;
  right: 10%;
  z-index: 6; }

.c-icon--circle-left {
  position: absolute;
  bottom: 23%;
  left: 20%;
  z-index: 7; }

.c-icon--circle-top {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 8; }

.c-icon--square-top {
  position: absolute;
  top: 17%;
  left: 37%;
  z-index: 9; }

.c-icon--x-left {
  position: absolute;
  top: 65%;
  left: 0;
  z-index: 10; }

.c-icon--x-center {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 11; }

.c-icon--plus {
  position: absolute;
  top: 80%;
  left: 40%;
  z-index: 12; }

/*** Cards section ***/
.c-cards h2 {
  margin-block-end: 2rem; }

.c-cards p {
  max-width: 39.375rem;
  margin: 0 auto; }

.c-cards-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 1rem 0; }

.c-cards__switcher {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin: 20px 0; }
  .c-cards__switcher input {
    appearance: none;
    position: relative;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    background-color: var(--color-black);
    outline: none; }
    .c-cards__switcher input:before, .c-cards__switcher input:after {
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-white); }
    .c-cards__switcher input:before {
      content: 'Monthly';
      left: 2.0625rem; }
    .c-cards__switcher input:after {
      content: 'Annually';
      right: 1.75rem; }
  .c-cards__switcher label {
    z-index: 1;
    position: absolute;
    top: 0.625rem;
    bottom: 0.625rem;
    border-radius: 1.25rem; }
  .c-cards__switcher.switcher input {
    transition: .25s -.1s; }
    .c-cards__switcher.switcher input:checked {
      background-color: var(--color-white);
      border: 1px solid var(--color-grey-light); }
      .c-cards__switcher.switcher input:checked:before {
        color: var(--color-white);
        transition: color .5s .2s; }
      .c-cards__switcher.switcher input:checked:after {
        color: var(--color-grey-light);
        transition: color .5s; }
      .c-cards__switcher.switcher input:checked + label {
        left: 0.625rem;
        right: 6.25rem;
        background: var(--color-primary);
        transition: left .5s, right .4s .2s; }
    .c-cards__switcher.switcher input:not(:checked) {
      background: var(--color-white);
      border: 1px solid var(--color-grey-light);
      transition: background .5s -.1s; }
      .c-cards__switcher.switcher input:not(:checked):before {
        color: var(--color-grey-light);
        transition: color .5s; }
      .c-cards__switcher.switcher input:not(:checked):after {
        color: var(--color-white);
        transition: color .5s .2s; }
      .c-cards__switcher.switcher input:not(:checked) + label {
        left: 6.25rem;
        right: 0.625rem;
        background: var(--color-primary);
        transition: left .4s .2s, right .5s, background .35s -.1s; }

@media (min-width: 1024px) {
  .c-cards__container {
    max-width: 50rem;
    margin: 0 auto; } }

.c-card__title {
  padding-block-start: 4.375rem;
  background-color: #fbfcfd; }
  .c-card__title h3 {
    font-weight: 600; }
  .c-card__title p {
    padding-block-end: 2.5rem; }

.c-card__desc {
  margin-block-start: 2.1875rem; }
  .c-card__desc p {
    margin-block-start: 1rem;
    margin-block-end: 1rem; }
  .c-card__desc button {
    margin-block-start: 1.5rem; }

/*** FAQ section ***/
.c-faq {
  max-width: 65rem;
  margin: 0 auto; }

.c-faq__title h2 {
  margin-block-end: 2.5rem; }

.c-faq__desc {
  max-width: 45rem;
  margin: 0 auto 3.75rem; }

.c-faq__subtitle {
  position: relative;
  padding: 1rem 2.5rem 1rem 3.125rem;
  border-radius: 0.25rem;
  outline: none;
  text-align: left;
  font-weight: 600;
  cursor: pointer; }

.c-faq__content {
  padding: 1rem 3.125rem 3.125rem 3.125rem; }
  .c-faq__content p {
    max-width: 50rem; }

.c-faq__container {
  margin-bottom: 1rem; }
  .c-faq__container .c-faq__subtitle::after {
    position: absolute;
    content: "+";
    right: 1.25rem;
    top: 0.7rem;
    font-size: 1.5rem; }
  .c-faq__container .c-faq__subtitle::-webkit-details-marker {
    display: none; }

.c-faq__container[open] .c-faq__subtitle ~ * {
  animation: sweep .5s ease-in-out; }

.c-faq__container[open] .c-faq__subtitle::after {
  position: absolute;
  content: "-";
  right: 1.25rem;
  top: 0.7rem;
  font-size: 1.5rem; }

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: 0.625rem; }
  100% {
    opacity: 1;
    margin-top: 0; } }

/*** Client section ***/
.c-slick-slider {
  max-width: 100vw;
  margin: 0 auto; }
  @media (min-width: 991px) {
    .c-slick-slider {
      max-width: 50vw; } }

.c-slick-slider__single-item {
  margin-block-start: 2rem;
  max-width: 75vw; }
  .c-slick-slider__single-item h3 {
    margin-block-end: 1.5rem; }

.c-slick-slider-icon__container {
  color: var(--color-warning-dark); }

.c-slick-slider-img__container {
  display: flex; }
  .c-slick-slider-img__container .c-slick-slider-img {
    margin-inline-end: 2rem; }
  .c-slick-slider-img__container .c-slick-slider-img__info {
    margin-block-start: 1rem; }

.c-slick-slider__arrow {
  display: flex;
  justify-content: flex-end; }
  .c-slick-slider__arrow .prevArrow,
  .c-slick-slider__arrow .nextArrow {
    color: var(--color-primary);
    background-color: #eff3f8;
    border-radius: 50%;
    padding: 0.8rem 1rem 0.5rem;
    margin: 0 0.3rem; }
  .c-slick-slider__arrow hr {
    color: 1px solid #e7e7e7;
    height: 30px;
    margin-block-start: 1.5rem; }
