* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    font-size: 1rem;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}
