/*** Cards section ***/
.c-cards {
    h2 {
        margin-block-end: 2rem;
    }
    p {
        max-width: 39.375rem;
        margin: 0 auto;
    }
}

.c-cards-switcher {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin: 3rem 0 1rem 0;
}

.c-cards__switcher {
    position: relative; 
    width:200px;
    height:50px;
    border-radius:25px;
    margin:20px 0;

    input {
       appearance: none;  
       position: relative;

       width: 12.5rem;
       height: 3.125rem;
       border-radius: 1.5625rem;

       background-color:var(--color-black);
       outline:none;

       &:before, &:after {
          z-index:2;

          position: absolute;
          top:50%;
          transform:translateY(-50%);

          color:var(--color-white);
       }
       &:before {
          content: 'Monthly';
          left: 2.0625rem;
       }
       &:after {
          content: 'Annually';
          right: 1.75rem;
       }
    }
    label {
       z-index:1;
       position: absolute;
       top: 0.625rem;
       bottom: 0.625rem;
       
       border-radius: 1.25rem;
    }
    &.switcher {
       input {
          transition:.25s -.1s;
          &:checked {
             background-color:var(--color-white);
             border: 1px solid var(--color-grey-light);
             &:before {
                color:var(--color-white);
                transition: color .5s .2s;
             }
             &:after {
                color:var(--color-grey-light);
                transition: color .5s;
             }
             &+label {
                left: 0.625rem;
                right: 6.25rem;

                background:var(--color-primary);
                
                transition: left .5s, right .4s .2s;
             }
          }
          &:not(:checked) {
             background:var(--color-white);
             border: 1px solid var(--color-grey-light);
             transition: background .5s -.1s;
             &:before {
                color:var(--color-grey-light);;
                transition: color .5s;
             }
             &:after {
                color:var(--color-white);
                transition: color .5s .2s;
             }
             &+label {
                left: 6.25rem;
                right: 0.625rem;
                
                background:var(--color-primary);
                
                transition: left .4s .2s, right .5s, background .35s -.1s;
             }
          }
       }
    }
}

.c-cards__container {
    @media (min-width: $mobile) {
        max-width: 50rem;
        margin: 0 auto;
    }
}

.c-card__title {
    padding-block-start: 4.375rem;
    background-color: #fbfcfd;

    h3 {
        font-weight: 600;
    }

    p {
        padding-block-end: 2.5rem;
    }
}

.c-card__desc {
    margin-block-start: 2.1875rem;

    p {
        margin-block-start: 1rem;
        margin-block-end: 1rem;
    }

    button {
        margin-block-start: 1.5rem;
    }
}