/*** Client section ***/
.c-slick-slider {
    max-width: 100vw;
    margin: 0 auto;  
    
    @media (min-width: 991px) {
        max-width: 50vw;
    }
}

.c-slick-slider__single-item {
    margin-block-start: 2rem;
    max-width: 75vw;

    h3 {
        margin-block-end: 1.5rem;
    }
}

.c-slick-slider-icon__container {
    color: var(--color-warning-dark);
}

.c-slick-slider-img__container {
    display: flex;

    .c-slick-slider-img {
        margin-inline-end: 2rem;
    }

    .c-slick-slider-img__info {
        margin-block-start: 1rem;
    }
}

.c-slick-slider__arrow {
    display: flex;
    justify-content: flex-end;
    .prevArrow,
    .nextArrow {
        color: var(--color-primary);
        background-color: #eff3f8;
        border-radius: 50%;
        padding: 0.8rem 1rem 0.5rem;
        margin: 0 0.3rem;
    }

    hr {
        color: 1px solid #e7e7e7;
        height: 30px;
        margin-block-start: 1.5rem;
    }
}