/*** FAQ section ***/
.c-faq {
    max-width: 65rem;
    margin: 0 auto;
}
.c-faq__title {
    h2 {
        margin-block-end: 2.5rem;
    }
}
.c-faq__desc {
    max-width: 45rem;
    margin: 0 auto 3.75rem;
}
.c-faq__subtitle {
    position: relative;
    padding: 1rem 2.5rem 1rem 3.125rem;
    border-radius: 0.25rem;
    outline: none;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
}
.c-faq__content {
    padding: 1rem 3.125rem 3.125rem 3.125rem;

    p {
        max-width: 50rem;
    }
}

.c-faq__container {
    margin-bottom: 1rem; 

    .c-faq__subtitle::after {
        position: absolute;
        content: "+";
        right: 1.25rem;
        top: 0.7rem;
        font-size: 1.5rem;
    }

    .c-faq__subtitle::-webkit-details-marker {
        display: none;
    }
}
.c-faq__container[open] {
    .c-faq__subtitle ~ * {
        animation: sweep .5s ease-in-out;
    }

    .c-faq__subtitle::after {
        position: absolute;
        content: "-";
        right: 1.25rem;
        top: 0.7rem;
        font-size: 1.5rem;
    }
} 
@keyframes sweep {
    0%    {opacity: 0; margin-top: 0.625rem}
    100%  {opacity: 1; margin-top: 0}
}
 


