.u-container {
    max-width: 75rem;
    margin: 0 auto;
}

.u-container-md {
    max-width: 87.5rem;
    margin: 0 auto;
}

.u-container-lg {
    max-width: 100rem;
    margin: 0 auto;
}

.u-container--bkg {
    background: url('../images/ultimate-img.png');
    background-size: 500px 162%;
    background-position: 100% 0%;
    background-repeat: no-repeat;

    @media (min-width: 600px) {
        background-size: 100% 163%;
        background-position: 100% 10%;
    }

    @media (min-width: 800px) {
        background-size: 100% 220%;
        background-position: 100% 30%;
    }

    @media (min-width: $mobile) {
        background-size: 100% 280%;
        background-position: 100% 40%;
    }

    @media (min-width: $desktop-md) {
        background-size: cover;
        background-position: 100% 54%;
    }
}

.u-color-warning {
    color: var(--color-warning);
}

.u-color-primary-black {
    color: var(--color-primary-black);
}

.u-px {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

.u-ml {
    margin-inline-start: 0.4rem;
}

.u-my {
    margin-block-start: 7rem;
    margin-block-end: 7rem;
}

.u-img-bkg--round {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 50%;
}

.u-img-bkg--center {
    margin: 0 auto 1rem;
}

.u-img-bkg--left-md {
    @media (min-width: $mobile) {
        margin: 0;
    }
}

.u-img-bkg--round-md {
    @media (min-width: 1600px) {
        margin: 0;
    }
}

.u-color--white {
    color: var(--color-white);
}

.u-bkg--white {
    background-color: var(--color-white);
}

.u-color--black {
    color: var(--color-black);
}

.u-color--alert {
    color: var(--color-alert);
    font-weight: 600;
}

.u-bkg--alert {
    background-color: var(--color-alert-light);
}

.u-bkg--warning {
    background-color: var(--color-warning);
}

.u-bkg--warning-light {
    background-color: var(--color-warning-light);
}

.u-color--primary {
    color: var(--color-primary);
    font-weight: 600;
}

.u-bkg--primary {
    background-color: var(--color-primary-light);
}

.u-bkg--primary-light {
    background-color: var(--color-primary-light);
}

.u-bkg--primary-dark {
    background-color: var(--color-primary-dark);
}

.u-color--primary-black {
    color: var(--color-primary-black);
}

.u-color--success {
    color: var(--color-success);
    font-weight: 600;
}

.u-bkg--success {
    background-color: var(--color-grey-light);
}

.u-bkg--grey-light {
    background-color: var(--color-grey-light);
}

.u-color--grey {
    color: #999ca5;
}

.u-color--grey-dark {
    color: var(--color-grey-dark);
}

.u-bkg--purple-light {
    background-color: var(--color-purple-light);
}

.u-bkg--orange-light {
    background-color: var(--color-orange-light);
}

.u-price--size {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-black);
}

.u-cards--border {
    border: 2px solid #ebebeb;
}

.u-opacity {
    opacity: 0.9;
}
