:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #cccccc;
    --color-grey-light: #f5f7fa;
    --color-grey-dark: #333333; 
    --color-grey-black: #212121;
    --color-warning: #fcae61;
    --color-warning-dark: #ffcc00;
    --color-warning-light: #fff6d3;
    --color-primary: #2500f9;
    --color-primary-light: #eaf9ff;
    --color-primary-dark: #09142e;
    --color-primary-black: #273043;
    --color-pink-red: #ff6e78;
    --color-grey-light: #e2eaed;
    --color-success-light: #e4ffee;
    --color-alert: #f55767;
    --color-alert-light: #ffecef;
    --color-purple: #d4cdfd;
    --color-purple-light: #f4f4ff;
    --color-orange-light: #fdeee4;
    --color-success: #40975f;
}

$mobile-xss: 380px;
$mobile-xs: 440px;
$mobile-sm: 768px;
$mobile: 1024px;
$desktop: 1025px;
$desktop-md: 1280px;
$desktop-lg: 1440px;
$desktop-xl: 1680px;


